

  <div class="header">
    <a href="#default" class="logo">BeSpoked Bikes</a>
    <div class="header-right">
      <a routerLink="/">Sales</a>
      <a routerLink="/products/prodMode">Products</a>
      <a routerLink="/customers/custMode">Customers</a>
      <a routerLink="/salesPerson/spMode">SalesPersons</a>
      <a routerLink="/salesPersonReport/reportMode">SalesPersons Report</a>
    </div>
  </div>
  
  
  <!-- <div class="button"><button  type="button" [routerLink]="['/createSale']" class="btn btn-primary">Create Sale</button></div> -->
  